/* SCSS Styles Start */
$black: #000000;
$light-gray: #bababa;
/* SCSS Styles End */



/* Global Styles Start */
* {
    font-family: 'Roboto', sans-serif;
}
/* Global Styles End */



/* Navbar Styles Start */
.navbar-toggler {
    border: none;
    outline: none;
    &:focus {
        box-shadow: none;
    }
}
/* Navbar Styles End */



/* Card Styles Start */
.card {
    background-color: $light-gray;
    color: $black;
    text-align: center;
    text-decoration: none;
      &:hover {
          color: red;
      }
    img {
        transition: all 1s;
        &:hover {
            transform: scale(0.9);
            transition: all 1s;
        } 
    }
  }
/* Card Styles End */